{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h1 class="text-white my-5">Login Page</h1>  
    {% for message in messages %}
            <span class="alert alert-info my-3" >{{message}}</span>
    {% endfor %}

    <form action="" method="POST" class="my-5" novalidate>
        {% csrf_token %}
        {% for form in forms %}
        <div class="form-group">
            {{form.label_tag}} {{form}} <span class="text-danger"><h5>{{form.errors|striptags}}</h5></span><br>
        </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary my-4" value="submit">
        {% for error in forms.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
    </form>
</div>
{% endblock content %}